.wrapper{
  width: 45%;
  height: 9rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.top{
  position: relative;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.user{
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  color: #fff;
}
